.header {
    padding-top: 2.5rem;
  }
  .headerWrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logoWrap {
    display: flex;
    align-items: center;
  }
  .logo {
    font-family: 'Quicksand';
    font-weight: 700;
    font-size: 24px;
    line-height: 1.25;
    color: #142028;
  }
  .logoAccent {
    color: #eb703c;
  }
  .navList {
    display: flex;
    gap: 80px;
    align-items: baseline;
  }
  .navItem {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    color: #24150f;
  }
  .startedBtn {
    padding: 13px 17px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    color: #fff;
    background: #eb703c;
    border: 2px solid #eb703c;
    border-radius: 20px;
  }
  