.learn {
  position: relative;
}
.learn::after {
  content: "";
  position: absolute;
  width: 70px;
  height: 70px;
  left: 102px;
  top: 215.94px;

  background: #eb703c;
  filter: blur(75px);
  transform: matrix(0.94, -0.34, 0.34, 0.94, 0, 0);
}
.learnContainer {
  max-width: 561px;
  min-height: 365px;
  padding: 30px;
  display: flex;
  align-items: center;
}
.title {
  padding-bottom: 35px;
  font-weight: 700;
  font-size: 27px;
  line-height: 33px;
  color: #24150f;
}
.text {
  padding-bottom: 40px;
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  color: #24150f;
}
.link {
  font-size: 20px;
  line-height: 24px;

  color: #24150f;
}
.image {
  max-height: 280px;
}
