.title {
    padding-bottom: 10px;
    font-weight: 800;
    font-size: 40px;
    line-height: 1.23;
    color: #eb703c;
  }
  .titleAccent {
    color: #0d2143;
  }
  .text {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.21;
    color: #24150f;
  }
  .textAccent {
    color: #eb703c;
  }
  .infoWrap {
    display: flex;
    align-items: center;
  }