* {
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}
h1,
h2,
h3,
ul,
p {
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  height: 100%;
  object-fit: cover;
}
section {
  padding-bottom: 30px;
  padding-top: 30px;
  background-color: rgba(244, 244, 244, 0.1);
}
.container {
  max-width: 1430px;
  padding-left: 50px;
  padding-right: 50px;
  margin: 0 auto;
}
.box {
  background: rgba(244, 244, 244, 0.1);
  box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}